{% extends 'base.html' %}

{% block content %}

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    </head>

    <body>
        <h1>First Time Check-In</h1>
        <form method="POST">
            First Name: <input type="text" name="first_name" required><br>
            Last Name: <input type="text" name="last_name" required><br>
            Phone Number: <input type="text" name="phone_number"><br>
            Birthday: <input type="date" name="birthday" id="birthday" required><br>
            Victory Group Leader Name: <input type="text" name="group_leader_name"><br>
            Are you a Victory Group Leader?
            <input type="radio" name="is_victory_group_leader" value="no" checked> No
            <input type="radio" name="is_victory_group_leader" value="yes"> Yes<br><br>
            <label>Do you attend Victory Greenhills?</label>
            <input type="radio" name="attending_greenhills" value="no" onchange="toggleServiceTimes(false)" checked> No
            <input type="radio" name="attending_greenhills" value="yes" onchange="toggleServiceTimes(true)"> Yes
            <br><br>


            <!-- Service times dropdown, hidden by default -->
            <div id="service-times" style="display: none;">
                <label>Which Service?</label>
                <select name="service_time" id="service_time">
                    <option value=""></option>
                    <option value="9AM">9:00 AM</option>
                    <option value="11AM">11:00 AM</option>
                    <option value="2PM">2:00 PM</option>
                    <option value="5PM">5:00 PM</option>
                </select>
                <br><br>
            </div>

            <button type="submit">Add to Database and Check-in</button>


        </form>

        <script>
            function toggleServiceTimes(show) {
                const serviceTimesDiv = document.getElementById('service-times');
                const serviceTimeSelect = document.getElementById('service_time');
                if (show) {
                    serviceTimesDiv.style.display = 'block'; // Show the dropdown
                } else {
                    serviceTimesDiv.style.display = 'none'; // Hide the dropdown
                    serviceTimeSelect.value = ''; // Clear the selected value
                }
            }


            document.addEventListener("DOMContentLoaded", function() {
                flatpickr("input[name='birthday']", {
                    dateFormat: "m/d/Y" // Set the format to MM/DD/YYYY
                });
            });
        </script>

    </body>

{% endblock %}
