body {
    font-family: 'Futura', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 10px;
    line-height: 1.3;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="date"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.autocomplete-suggestions {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    z-index: 9999;
    background-color: white;
    width: 100%;
}

.autocomplete-suggestion {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-suggestion:hover {
    background-color: #f0f0f0;
}

#suggestions:empty {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px dotted #ccc; /* Dotted borders */
    padding: 8px 12px;
}

table th {
    background-color: #f4f4f9;
    color: #333;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row colors for better readability */
}

table tr:hover {
    background-color: #f1f1f1; /* Highlight row on hover */
}

table a {
    color: #0056b3;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

select[multiple] {
    height: auto;  /* Ensure dropdown has enough height */
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

option {
    padding: 5px 10px;
    cursor: pointer;
}

option:checked {
    background-color: #0056b3;
    color: white;
}

.hidden {
    display: none;
}
