{% extends 'base.html' %}

{% block content %}
    <h1>Admin Dashboard</h1>

    <h2>Database</h2>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Birthday</th>
                <th>Leader Status</th>
                <th>Group Leader Name</th>
                <th>Attending Greenhills</th>
                <th>Service Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for attendee in attendees %}
            <tr>
                <td>{{ attendee[1] }}</td>
                <td>{{ attendee[2] }}</td>
                <td>{{ attendee[3] }}</td>
                <td>{{ attendee[4] }}</td>
                <td>{{ 'Yes' if attendee[5] else 'No' }}</td>
                <td>{{ attendee[6] }}</td>
                <td>{{ 'Yes' if attendee[7] else 'No' }}</td>
                <td>{{ attendee[8] }}</td>
                <td>
                    <a href="{{ url_for('edit_attendee', attendee_id=attendee[0]) }}">Edit</a>
                    <a href="{{ url_for('delete_attendee', attendee_id=attendee[0]) }}" onclick="return confirm('Are you sure you want to delete this attendee?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="/admin_dashboard/download">Download Database as Excel</a>
    <br>
    <a href="/admin_dashboard/report">View Report Here</a>

</body>
{% endblock %}
